<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}


    <div class="page-content">
      <div class="wrapper">
        {{ content }}
		<hr/>
		<br/>
		<span class="contacticon center">
			<a href="mailto:mail@lukegeeson.com" rel="noopener" aria-label="email"><i class="fa fa-envelope-square" aria-label="email"></i></a>
			<a href="https://github.com/lukeg101" target="_blank" rel="noopener" aria-label="github"><i class="fa fa-github-square"></i></a>
			<a href="https://uk.linkedin.com/in/lukegeeson" target="_blank" rel="noopener" aria-label="linked in"><i class="fa fa-linkedin-square"></i></a>
			<a href="https://www.twitter.com/lukegeeson" target="_blank" rel="noopener" aria-label="twitter"><i class="fa fa-twitter-square"></i></a>
		</span>

		<div class="col three caption">
			<p>Feel free to email me if you have any <i>questions</i> using <i><a href="mailto:mail@lukegeeson.com">mail@lukegeeson.com</a></i></p>
		</div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
